/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/*input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}*/
p{

}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:35%;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

input[type="email"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:35%;
}
input[type="email"]:focus,
input[type="email"].focus {
  border-bottom: solid 2px #969696;
}

input[type="tel"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:35%;
}
input[type="tel"]:focus,
input[type="tel"].focus {
  border-bottom: soltelid 2px #969696;
}

textarea{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width:35%;
}
  textarea:focus,
  textarea.focus{
  	border-botom: soltelid 2px #969696;
}
